.main {
  padding: 2rem 1rem;
  max-width: 650px;
}

.title {
  font-size: 2.5rem;
  color: var(--heading);
}

.inputField a {
  color: var(--sub-text);
}

.inputField a > span {
  display: inline-block;
  transition: transform 200ms;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .inputField a:hover > span {
    transform: translateX(4px);
  }
}

.buttonGlow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #e6a900, 0 0 15px #ffd336;
  }
  to {
    box-shadow: 0 0 15px #fff589, 0 0 20px #fff589;
  }
}

@media (min-width: 500px) {
  .main {
    padding: 3rem 1.5rem;
  }
}

@media (min-width: 640px) {
  .main {
    padding: 3rem 2rem;
  }

  .content {
    flex-direction: row;
  }

  .title {
    font-size: 3.5rem;
  }
}
