.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  min-height: 100vh;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  gap: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--heading);
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content form,
.content div {
  flex: 1;
  width: 100%;
}

.inputField a {
  color: var(--sub-text);
}

.inputField a > span {
  display: inline-block;
  transition: transform 200ms;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .inputField a:hover > span {
    transform: translateX(4px);
  }
}

.buttonGlow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #e6a900, 0 0 15px #ffd336;
  }
  to {
    box-shadow: 0 0 15px #fff589, 0 0 20px #fff589;
  }
}

@media (min-width: 640px) {
  .main {
    padding: 3rem;
  }

  .content {
    flex-direction: row;
  }

  .title {
    font-size: 3.5rem;
  }
}
